:host {
    
}
.content {
    width: 80%;
    text-align: center;
    margin: auto;
    border: 1px solid;
    padding: 0px 20px 20px 20px;
}

.title {
    margin-bottom: 50px;
    border-bottom: 1px solid;
    padding: 5px;
}

.question-area {
    margin-bottom: 50px;
    text-align: left;
}

.add-new-question {
    text-align: left;
}

.review-answer {
    text-align: right;
}

.add-new-question {
    margin-bottom: 50px;
}